

<h1>Hi <%= @prospect.full_name %></h1>


<p>
   <%= "#{@body}" %><br/>
  
   <% if @b["template"] == "ProductProposal & Quotation" %>
   <%= link_to 'Accept', api_v1_prospects_url(:id => @prospect.id, :stage_id => '6') %> 
          </br>
    <%= link_to 'Decline', api_v1_prospects_url(:id => @prospect.id, :stage_id => '8') %> 
          </br>
          <%= link_to 'Negotiate', api_v1_prospects_url(:id => @prospect.id, :stage_id => '5') %> 
          </br>
     <% end %>      
  Regards,<br/>
  Support Team <br/>
</p>
