<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title ,:required => true %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content ,:required => true%>
  </div>
  <div class="form-group">
    <%= f.label :event_datetime %><br>
    <%= f.datetime_select :event_datetime %>
  </div>
  <div class="form-group">
    <%= f.label :completed_at %><br>
    <%= f.datetime_select :completed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
