<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :full_name %><br>
    <%= f.text_form-group :full_name %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_form-group :email %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_form-group :phone %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_form-group :location %>
  </div>
  <div class="form-group">
    <%= f.label :managed_by %><br>
    <%= f.number_form-group :managed_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
