<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table class="table table-striped" id="myTable">

  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <% if current_user.role.name=="Sales Manager" %>
      <th>Managed By</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.full_name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.location %></td>
        <% if current_user.role.name=="Sales Manager" %>
      <td><%= prospect.user.full_name %></td>
      <% end %>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>