<%= form_for(@prospect) do |f| %>
  <% if @prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% @prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
 <div class="form-group">
    <%= f.label :interest_level %><br>
    <%= f.number_field :interest_level %>
  </div>
  <div class="form-group">
    <%= f.label :stage_id %><br>
    <%= f.collection_select(:stage_id, Stage.all, :id, :name, prompt: true) %>
  </div>
 <div class="form-group">
   <%= f.hidden_field :managed_by, :value => current_user.id %>
  </div>
 
  <%= f.submit "Submit" , class: "btn btn-primary" %> or <%= link_to 'Back', prospects_path, class: "btn btn-danger" %>

<% end %>
