<p id="notice"><%= notice %></p>

<h1>Listing Prospects</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Stage</th>
      <th>Managed by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prospects.each do |prospect| %>
      <tr>
        <td><%= prospect.full_name %></td>
        <td><%= prospect.email %></td>
        <td><%= prospect.phone %></td>
        <td><%= prospect.location %></td>
        <td><%= prospect.interest_level %></td>
        <td><%= prospect.stage.try(:name) %></td>
        <td><%= link_to 'Show', prospect %></td>
        <td><%= link_to 'Edit', edit_prospect_path(prospect) %></td>
        <td><%= link_to 'Destroy', prospect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prospect', new_prospect_path %>
