<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @prospect.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @prospect.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @prospect.phone %>
</p>

<p>
  <strong>Location:</strong>
  <%= @prospect.location %>
</p>

<p>
  <strong>Interest Level</strong>
  <%= @prospect.interest_level %>
</p>


<p>
  <strong>Stage:</strong>
  <%= @prospect.stage.name %>
</p>



<%= link_to 'Edit', edit_prospect_path(@prospect) %> |
<%= link_to 'Back', prospects_path %>
