<%= form_for(@email_template) do |f| %>
  <% if @email_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
      <% @email_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
